*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, sans-serif;
}

:root{
    --orange: #F86F03;
}

main{
	width: 100%;
}

li{
	list-style: none;
}

a{
	color: inherit;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	cursor: pointer;
}