---
import Layout from '../layout/HomePage.astro'
import Hero from '../components/Hero.astro'
import Services from '../components/Services.astro'
import Middle from '../components/Middle.astro'
---

<Layout title="Homepage">
	<Hero/>
	<Services/>
	<Middle/>
	<section class="">
		
	</section>
	
</Layout>

<style>
	
</style>
