---
import Layout from '../layout/HomePage.astro'
import Hero from '../components/Hero.astro'
import Services from '../components/Services.astro'
import Offert from '../components/Offert.astro'
import Middle from '../components/Middle.astro'
import About from '../components/About.astro'
import Blog from '../components/Blog.astro'
import Newsletter from '../components/Newsletter.astro'
---

<Layout title="Homepage">
	<Hero/>
	<Services/>
	<Middle textBack="Offerts hot" textFront="Our offerts hot"/>
		***********ofertassssssss***********
	<Middle textBack="travel partner" textFront="Our travel partner"/>
	<About/>
	<Middle textBack="Blog Viajando" textFront="Viajando"/>
	<Blog/>
	<Newsletter/>
	Top Destinations
	Top Attractions
	Top Tours
	***********newsletter***********
	***********footer***********
	<section class="space">
		
	</section>
	
</Layout>

<style>
	.space{
		height: 20rem;
	}
</style>
