---
import Layout from '../layout/HomePage.astro'
import Hero from '../components/Hero.astro'
import Services from '../components/Services.astro'
import Middle from '../components/Middle.astro'
import About from '../components/About.astro'
---

<Layout title="Homepage">
	<Hero/>
	<Services/>
	<Middle textBack="travel partner" textFront="Our travel partner"/>
	<About/>
	<Middle textBack="Blog Viajando" textFront="Viajando"/>
	<section class="">
		
	</section>
	
</Layout>

<style>
	
</style>
