---
import Logo from "./Logo.astro";
import SocialMedia from "./SocialMedia.astro";
---

<footer>
    <section class="footer">
        <a><Logo nameLogo="Viajando" /></a>
        <a></a>
        <a></a>
        <a>Obten el viaje de tus sueños</a>
        <a>Inicio</a>
        <a>Sobre Nosotros</a>
        <a>Servicios</a>
        <a>email@email.com</a>
        <a>Ofertas</a>
        <a>Precios</a>
        <a>Blog</a>
        <div><SocialMedia/></div>
    </section>
</footer>

<style>
    footer{
        /* width: 100%; */
        padding: 1rem 0;
        background-color: #000;
    }
    .footer {
        margin: 0 auto;
        color: white;
        width: 80%;

        display: grid;
        grid-template-rows: repeat(auto-fit, 1fr);
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        gap: 8px;
    }
</style>