---
import TextBack from '../components/Text-back.astro'
const { textBack, textFront } = Astro.props;
---

<section class="middle">
    <TextBack textBack={textBack} textFront={textFront}/>			
</section>

<style>
    .middle{
		margin: 5rem 0;
	}
</style>