---
const { img, city, alt, link } = Astro.props
---

<div class="miniCard">
    <img src={img} alt={alt}>
    <a class="city" href={link}>{city}</a>
</div>

<style>
    .miniCard{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        & img{
            width: 100%;
            object-fit: cover;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 40% 8%;
            border-bottom-right-radius: 40% 8%;
            filter: brightness(.7);
        }
        & .city{
            position: absolute;
            font-size: 2rem;
            color: white;
            font-weight: 700;
            /* text-shadow: 0 0 15px lightgray; */
            filter: drop-shadow(0 0 5px black);
        }
        
    }
</style>