---

---

<ul id="nav" class="nav">
    <li><a href="/">Inicio</a></li>
    <li><a href="/about-us">Sobre Nosotros</a></li>
    <li><a href="/services">Servicios</a></li>
    <li><a href="/blog">Blog</a></li>
</ul>

<style>
    .none{
        display: none;
    }
    .nav{
        display: flex;
        gap: 1rem;
    }
</style>