---

---

<ul id="socialMedia" class="socialMedia">
    <li><a href="#">Fa</a></li>
    <li><a href="#">IG</a></li>
    <li><a href="#">Tk</a></li>
</ul>

<style>
    .socialMedia{
        padding: 1rem;
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
</style>